*{
  box-sizing: border-box;

}

@media screen and (max-width: 800px) {
   div.header{
  	background-position: center 30px;
  }
  .column {
        width: 100%;
    }
}

@media handheld, screen and (max-width: 768px) {

  div.header{
  	background-position: center 40px;
  }
  div.nav{
  	top: 35vw;

  }
  div.holder{
  	top: 40vw;
  }
  div.header>h1{
    left: 26vw;
    width: 40vw;
    top: 19vw;
  }
  div.header>h3{
	top: 19vw;
	width: 33vw;
	left: 66vw;
  }
  div.holder>div.subholder>h4{
	font-size: 2.5vw;
  }
  div.subholder>ul>li{
	font-size: 2.5vw;
  }
  #aboutdiv div.aboutsub>p{
  	font-size: 2.5vw;
  }
  div.holder p{
  	font-size: 2.5vw;
  }
  .column {
        width: 100%;
  }

}

@media handheld, screen and (max-width: 768px) and (orientation: landscape) {
  div.header{
  	background-position: center 30px;
  }
  div.header>h1{
    left: 40vw;
    width: 40vw;
    top: 15vw;
  }
  div.holder>div.subholder>h4{
	font-size: 2vw;
  }
  div.subholder>ul>li{
	font-size: 1.5vw;
  }
  #aboutdiv div.aboutsub>p{
  	font-size: 1.5vw;
  }
  div.holder p{
  	font-size: 1.5vw;
  }
  .column {
        width: 100%;
    }

}

body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-size: 16px;
}

/*img {
	position: absolute; 
	width: 100%; 
	height: auto;
	z-index: -500;
}
*/
div.container{
	position: relative;
	height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    top: -55px;
    display: block;
}
.header{
  background-image: url("MH.jpg");
  height: auto;
  min-height: 400px;
  min-width: 100%;
  background-position: center 20px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute ;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: -99; 
}

.nav{
  position: relative;
  top: 32vw;
  width:100%;
  z-index:1000;
  background: white;
  display: block;
}

.holder{
  position: relative;
  top: 35vw;
  display: block;
/*  height:100%;
  min-height:100%;
  width:100%;*/
  z-index:1000;
  background: white;
  padding:0 7vw;
}

h1 {
	font-family: 'Dancing Script', serif;
	font-size: 5vw;
	font-weight: bold;
	line-height: 10vw;
	color: #ffffff;
	text-align: center;
	text-shadow:
    1px 1px 0 #000,
    2px 1px 0 #000,
    1px 2px 0 #000,
    2px 2px 0 #000;  
    height: 10vw;
    width: 40vw;
    position: absolute;
    top: 15vw;
    left: 40vw;
}

h3 {
	position: absolute;
	top: 18vw;
	left: 82vw;
	width: 17vw;
	height: 7vw;
	color: white;
	text-align: right;
	font-family: 'Play', sans-serif;
	font-size: 1.5vw;
	text-shadow:
    1px 1px 0 #000,
    2px 1px 0 #000,
    1px 2px 0 #000,
    2px 2px 0 #000;  
}

div.nav ul li:active{
		color: red;
		font-weight: bold;
}

div.nav ul li a:visited{
		color: darkRed;
		text-decoration: none;
}

div.nav ul li a:hover{
		color: red;
		font-weight: bold;
		text-decoration: none;
}

div.nav ul li a{
		color: darkred;
		font-weight: normal;
		text-decoration: none;
}

div.nav ul li {
	display: inline-block;
 	width: 13%;
 	margin: 0;
 	padding: 0;
 	text-align: center;
 	font-family: 'Play', sans-serif;
	font-size: 2vw;
	color: red;
	background: white;
	text-decoration: none;
 }

 div.nav ul li a{
 	color: darkred;
 	text-decoration: none;
}

div.nav ul{
	padding: 0;
}

div.holder h4{
	text-align: left;
	background: white;
	font-size: 1.5vw;
	font-family: 'Play', sans-serif;
	margin-top: 0;
	color: black;
}

div.holder ul{
	margin: 0;
	padding: 0;
	font-size: 1.3vw;
	font-family: 'Arial', sans-serif;
}

div.holder li{
	list-style: none;
	background: white;
}

.holder p{
	margin: 0;
	padding: 0;
	background: white;
	font-size: 1.3vw;
	font-family: 'Arial', sans-serif;
	text-align: justify;
}

div.subholder{
	display: block;
    height: auto;
    vertical-align: top;
    text-align: justify;
    overflow: auto;
}

div.video{
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	margin-top:0.5%;
}
div.video>iframe{
/*    display: block;
	margin-top: 75px;
	width:50%;*/
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

div.leadershipvideo{
	/*position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	margin-top:0.5%;*/
	position: relative;
	overflow: hidden;
    height: 360px;
    margin-bottom: -110px;
}

div.leadershipvideo>iframe{
/*    display: block;
	margin-top: 75px;
	width:50%;*/
/*	position:absolute;
	top:0;
	left:0;
	width:60%;
	height:50%;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 60%;
}

div.footer{
	position: relative;
	top: 35vw;
	margin: 3vw;
	display: block;
	text-align: center;
	color: grey;
	font-size: 1.2vw;
	font-family: 'Arial', sans-serif;
}

#img1 {
	width: 100%;
	margin: 0 0 0 0;
	padding-top: 2vw;
    height: 20vw;
}

#imgTedX {
	height: 30vw;
	width: 20vw;
	border: 5px solid indianred;
	margin: 0 1vw 0 0;
}

#imgBookCover {
	height: 30vw;
	width: 20vw;
	border: 5px solid #033F71;
	margin: 0 0 0 1vw;
}


#testimonial {
	font-size: 16px;
	font-family: 'Arial', sans-serif;
	color: grey;
}

.aboutsub{
	display: block;
	vertical-align: text-top;
	text-align: justify;
	width: 100%;
}

.aboutsub img{
    margin: 0 2vw 0 0;
	border: 5px solid wheat;
	height: 30vw;
	width: auto;
}

.aboutsub p{
	font-size: 1.3vw;
}

.column {
    float: left;
    width: 50%;
}

.holder:after {
    content: "";
    display: table;
    clear: both;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#imgbookcover {
	height: 30vw;
	width: 20vw;
	border: 2px solid #033F71;
	margin: 0 4vw 0 0;
}

#imgdisastersbookcover {
	height: 30vw;
	width: 20vw;
	border: 2px solid #033F71;
	margin: 0 4vw 0 0;
}

